@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');

html {
    scroll-behavior: smooth
}

body {
    width: 90vw;
    margin: auto;
    background-color: #000000;
    background-repeat: no-repeat;
    font-family: 'Outfit', sans-serif;
    color: white;
    font-size: 16px;
    // position: relative;
}

a {
    text-decoration: none;
    color: inherit;

}

.iphone-13 {
    width: 14%;
    position: absolute;
    z-index: -20;
    top: 160%;
    left: 54%;
    background-repeat: no-repeat;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        opacity: 0.9;
    }

}

div {
    // border: 1px solid red;
}

.bannerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 4rem;
    margin-bottom: 8rem;

    .top,
    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 20%;
            object-fit: contain;
        }

        h1 {
            margin: 0%;
        }

        h3 {
            font-size: 20px;
            font-weight: 100;
        }
    }
}

.promiseWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    h1 {
        font-size: 26px;
        font-weight: 500;
    }

    h2 {
        font-size: 20px;
        font-weight: 100;
        color: cadetblue;
        margin: 0%;
    }

    .promise-img {
        width: 40rem;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .promise-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
}

.closerLook-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.932);
    color: #000000;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 8rem;

    .closer-title {
        color: rgb(0, 0, 0);

        h2 {
            font-size: 60px;
            margin: 0%;
            padding: 1rem;
            border-bottom: 1px solid black;
        }
    }

    .closer-features-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        flex-wrap: wrap;

        .closerLook {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            width: 16rem;
            height: 20rem;
            background-color: #9811a7ba;
            border-radius: 10px;
            box-shadow: 3px 3px 6px gray;
            padding: 1rem;
            margin: 2rem;
            cursor: pointer;
            box-sizing: border-box;

            .closer-text {
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: baseline;
                align-items: center;

                h2 {
                    font-size: 22px;
                    font-weight: 100;
                    color: rgb(255, 255, 255);
                    padding-bottom: 1rem;
                }
            }

            .closer-img {
                display: flex;
                width: 6rem;
                height: 6rem;
                transition: transform .2s;
                padding: 10px;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .closer-img:hover {
                transform: scale(1.2);
            }
        }

    }

}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    color: rgb(67, 111, 112);
    max-width: 30rem;
    margin: 18rem auto;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;

    h1 {
        margin: 0%;
        padding: 0%;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 20px;
        font-weight: 100;
        color: rgb(0, 0, 0);
        margin: 0%;
        padding: 0%;
        margin-bottom: 3rem;

    }

    input {
        width: 60%;
        height: 2rem;
        margin: 0.5rem;
        border-radius: 6px;
        border: 1px solid #858585;
        font-size: 12px;
        background-color: transparent;
        padding-left: 1rem;
    }

    .submit {
        background-color: #9811a7ba;
        color: white;
        cursor: pointer;
        border: none;
        width: 20rem;
        height: 3rem;
    }
}


.fade-in {
    opacity: 0;
    transition: opacity 550ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


.promise-text-wrapper,
.closer-title {
    transform: translateX(-26%);
    opacity: 0;
}

.promise-text-wrapper,
.closer-title {
    transition: transform 550ms ease-in-out;

}

.promise-text-wrapper.appear,
.closer-title.appear {
    transform: translateX(0);
    opacity: 1;

}